<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="2">
		    <thead>
				<tr><th colspan="2"> **** Welcome to Simple Banking Application **** </th></tr>
				<tr><th colspan="2"> Customer Login :                         </th></tr>
			</thead>
			<tbody>
			    <form action="#" th:action="@{/accountDetails}" th:object="${customer}" method="post">  
			    
			         <tr><td>Account Number  : <input type="text" th:field="*{accountNumber}" /></tr></td>     
                     <tr><td>User Name : <input type="text" th:field="*{userName}" /></tr></td>
                     <tr><td>Password  : <input type="text" th:field="*{passWord}" /></tr></td> 
                     
                     <tr><td><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></td></tr>
               </form>
           </tbody>
  		</table>
</body>
</html>